<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="jumbotron align-items-center" style="text-align: center">
        @if (Model == null)
        {
            {
                @using (Html.BeginForm("UploadData", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <label>Select File:</label>
                    <input type="file" name="uploadedFiles" multiple="multiple" />
                    <hr />
                    <button type="submit" name="submit" value="all" class="btn btn-primary">Overall Report</button>
                    <button type="submit" name="submit" value="individual" class="btn btn-primary">Individual Report</button>
                    <br />
                    <div class="text-danger">@Html.ValidationSummary(false)</div>
                }
            }
        }
        else
        {
            <table border="1" width="100%" cellpadding="15" style="margin-bottom: 3%">
                <thead>
                    <tr style="font-weight: bold">
                        <td>Rank</td>
                        <td>Intern Name</td>
                        <td>Email</td>
                        <td colspan="@ViewData["CourseColumnCount"]">Course Name/Total Percentage</td>
                        <td>Overall Percentage</td>
                    </tr>
                </thead>
                <tbody>
                    @{ int rank = 1; }
                    @foreach (var intern in Model)
                    {
                        <tr>
                            <td>@rank</td>
                            <td>
                                @intern.InternName
                            </td>
                            <td>
                                @intern.Email
                            </td>
                            @for (int i = 0; i < intern.Courses.Count; i++)
                            {
                                <td>
                                    @intern.Courses[i].CourseName
                                </td>
                                <td>
                                    @intern.Courses[i].Percentage
                                </td>
                            }
                            <td>
                                @intern.AllOverScore
                            </td>
                        </tr>

                        rank++;
                    }
                </tbody>
            </table>
            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Back</a>
        }
    </div>
</body>
</html>
